<div id="chanel" class="transitions-enabled">

    <% @chanels.each do |chanel| %>
        <div class="box panel panel-default">

            <%= link_to "#", data: {toggle: "modal", target: "#modal#{chanel.id}"} do %>
                <%= image_tag chanel.image %>
                    <div class="panel-body">
                        <%= link_to 'Show', chanel_path(chanel) %>
                        <%= link_to 'Delete', delete_chanel_path(chanel), method: :delete %>
                    </div>
            <% end %>
                
                                       <!-- Modal -->

            <div class="modal fade" id="modal<%= chanel.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-8">
                                                    
                                                        <div class="panel-heading center">
                                                                                                               
                                                                 

                                                                   <td><%= image_tag chanel.image.url(:thumb) %></td>
                                                                
                                                                 
                                                                    <p><%= chanel.body %></p>
                                                                
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                                                <%= link_to "Next", chanel_path(chanel), class: "btn btn-primary" %>
                                                        </div>
                                                           
                                                </div>
                                            </div>
                      
                    </div>
                </div>
            </div>
        </div>              
    <% end %>
</div>